:root {
  --primary-color: #55286f;
  --primary-text-color: white;
  --grey-color: #7c7c7c;
  --main-padding: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  padding: 16px;
  max-width: 1170px;
  margin: auto;
}

.hero1 {
  height: 100%;
  width: 100%;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   */
  background-color: #ff9b85;
}

.hero2 {
  height: 100%;
  width: 100%;
  background-color: white;
}

.hero3 {
  height: 100%;
  width: 100%;
  background-color: #918ef4;
}
.hero4 {
  height: 100%;
  width: 100%;
  background-color: white;
}

.hero5 {
  background-color: #aafac8;
}
