<%
  const data = {
    fixed: typeof fixed !== 'undefined' ? fixed : true
  };
%>
<hr />
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-12">
    &#169;&nbsp;<span id="copyright-year">2021</span>&nbsp;Rain Publishing, LLC
  </div>
</div>

<script>
  document.getElementById(
    "copyright-year"
  ).innerHTML = new Date().getFullYear();
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DEKL8V60E4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DEKL8V60E4');
</script>