<div class="navbar">
  <a class="logo" href="/"> MadisonIlia </a>
  <div class="links">
    <a href="/">Home</a>
    <a href="/about.html">About</a>
  </div>
</div>
<style>
  .navbar {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--main-padding);
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
  }

  .navbar .links {
  }
</style>
