<%
  const data = {
    page: typeof page !== 'undefined' ? page : undefined
  };
%>

<div class="navbar">
  <a class="logo" href="/"> MadisonIlia </a>
  <div class="links">
    <a href="/" class="<%= data.page === 'index' ? 'active': ''%>">Home</a>
    <a href="/about.html" class="<%= data.page === 'about'? 'active': ''%>">About</a>
    <a href="/novels.html" class="<%= data.page === 'novels'? 'active': ''%>">Novels</a>
    <a href="/hire-me.html" class="<%= data.page === 'hire-me'? 'active': ''%>">Hire Me</a>
    <a href="/contact.html" class="<%= data.page === 'contact'? 'active': ''%>">Contact</a>
  </div>
</div>
<style>
  .navbar {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--main-padding);
    transition: background-color 0.3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
  }

  .navbar a.active {
    text-decoration: underline;
  }
</style>