<html>

<head>
  <%- include('./partials/head.html') %>
</head>
<style>
</style>

<body class="about">
  <%- include('partials/navbar.html', { page: 'about' }) %>

  <div class="container py-5">
    <div class="row">
      <div class="col text-center">
        <img src="images/madison-on-a-horse.jpg" style="max-width: 400px; border-radius: 3px;" />
        <hr class="d-md-none" />
        <!--TODO show this overtop the image-->
        <div style="display:none">
          Strength and courage are not present with the absence of fear. Merely that people and situations are and will
          be
          more important than fear alone. Through our weakest link we are strong. By love we possess our greatest
          weapon.

          (}—{) Madison Ilia
        </div>
      </div>
      <div class="col">
        <p>I suppose a formal introduction is appropriate. I'm Madison Ilia. I live in the middle of nowhere town, where
          the sun shines once a week if we're lucky, we have more rocks than grass, and the trees have taken over; but
          it's
          ok we hold our own when we need to cut it. I talk too much, type even faster, laugh when I shouldn't, drink
          too
          much coffee or Rasa (wearerasa.com), and I'm allergic to red food coloring. The reaction is . . . . more
          talking,
          faster walking, an overload of writing, and an unattainable amount of energy. If energy were sellable, I
          wouldn't
          need my current day/night/overnight job (a little rotating shift humor).</p>

        <p>I love Jesus and strive to be the best version of myself every day; some days are better than others.</p>

        <p>I'm the mother of a wonderful 3 year old girl. I'm also a dog mom, a horse mom, a sister, a daughter, an
          energetic individual, and a writer that has
          many words with a shortage of hours in a day to write them all down. I'm a police dispatcher most days, a sane
          person every once in a while, a licensed massage therapist when it suits me, and lastly, a book nerd. What
          writer
          do you know that doesn't equally enjoy reading? One might say I have a lot of interests that are scattered all
          over the place; can't say I would correct them. I like to embrace life and experience as much of this
          beautiful
          world God created for us as I can!</p>

        <p> See, that wasn't half bad. Subscribe to my monthly newsletter to get exclusive content and release dates
          only
          available to subscribers! I'm on Facebook and Instagram and check my email daily! Reach out if you feel so
          compelled I would love to hear from you! Stay blessed!</p>
      </div>
    </div>
    <%- include('./partials/footer.html') %>
  </div>
</body>

</html>