<html>

<head>
  <%- include('./partials/head.html') %>
</head>
<style>
  .container {
    margin-top: 50px;
  }

  .img-link {
    display: inline-block;
    padding: 15px;
  }
</style>

<body class="about">
  <%- include('partials/navbar.html', { page: 'contact' }) %>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="images/bio-alt.jpg" style="max-width: 400px; border-radius: 3px;" />
        <hr class="d-md-none" />
      </div>
      <div class="col">
        <p>
          I would love to connect with you! I check my email daily and will respond when my schedule allows.
        </p>
        <p>
          Subscribe to receive a free short story about the main character of my novel, exclusive to mailing list
          subscribers.
        </p>
        <p>
          <b>Email: </b><a href="mailto:madisonilia@outlook.com">madisonilia@outlook.com</a>
        </p>
        <h4>You can also find me on social media!</h4>
        <a href="https://www.facebook.com/madisonilia" class="img-link" title="Facebook">
          <img alt="Facebook" src="images/icons/facebook.png" />
        </a>
        <a href="https://www.instagram.com/madisonilia88" class="img-link" title="Instagram">
          <img alt="Instagram" src="images/icons/instagram.png" />
        </a>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.html') %>
</body>

</html>