<html>

<head>
  <%- include('./partials/head.html') %>
</head>
<style>
</style>

<body class="about">
  <%- include('partials/navbar.html', { page: 'lets-connect' }) %>
  <div class="content">
    <p>
      I would love to connect on a personal level! I check my email daily and will respond when my schedule allows.
      Please, check out my Facebook page (<a href="https://www.facebook.com/madisonilia">@madisonilia</a>) or Instagram
      (<a href="https://www.instagram.com/madisonilia88/">@madisonilia88</a>).
    </p>
    <p>
      Subscribe to receive a free short story about the main character of my novel, exclusive to mailing list subscribers.
    </p>
    <p>
      Email me at <a href="mailto:madisonilia@outlook.com">madisonilia@outlook.com</a>
    </p>
  </div>
</body>

</html>