<html>

<head>
  <%- include('./partials/head.html') %>
</head>
<style>
</style>

<body class="about">
  <%- include('partials/navbar.html', { page: 'hire-me' }) %>
  <div class="content">
    <p>
      I offer freelance writing services in many forms:
    </p>
    <ul>
      <li>Ghostwriting</li>
      <li>Articles</li>
      <li>Content</li>
      <li>Short stories</li>
      <li>Novels</li>
    </ul>
    <p>
      I have writing experience in several topic areas, and I'm open to learning and writing about whatever you need! I
      am very thorough when researching a topic. I'm especially interested in pet-related topics, with over two decades
      of life experience raising dogs and nearly 15 years of experience raising horses.
    </p>

    <p>
      Whether it's a blog post, social media content, website content, ghostwriting, a novel, or even emails,
      I would love to talk with you about your project so let's <a href="contact.html">Connect</a>
    </p>
  </div>
  <%- include('./partials/footer.html') %>
</body>

</html>