<html>

<head>
  <%- include('./partials/head.html') %>
  <style>
    .navbar {
      background-color: transparent !important;
      position: fixed;
    }

    .is-scrolled .navbar {
      background-color: var(--primary-color) !important;
    }
  </style>
  <script>
    window.onscroll = function () {
      if (window.scrollY > 0) {
        document.body.classList.add("is-scrolled");
      } else {
        document.body.classList.remove("is-scrolled");
      }
    };
  </script>
</head>

<body>
  <%- include('partials/navbar.html', {page: 'index'}) %>
  <div class="hero1">
    <p style="width:50%">
      Welcome! I am beyond excited to have you here! Things to explore:

      Current and Future Novels
      More about me
      Available services
      Social media presence
      How to send me a personal message!
      Please sign up for free and exclusive content only available to email subscribers!
    </p>
  </div>
  <div class="hero2" style="background-color: #02090c; text-align: center;">
    <img src="images/the-crow-coming-soon.jpg" style="max-width:100%; max-height: 100%" />
  </div>
  <%- include('./partials/footer.html', { fixed: false }) %>
</body>

</html>