<html>

<head>
  <%- include('./partials/head.html') %>
  <style>
    .navbar {
      /* background-color: transparent !important; */
    }

    .top-fade {
      /* margin-top: -80px; */
    }
  </style>
</head>

<body>
  <%- include('partials/navbar.html') %>
  <div class="top-fade" style="position: relative;">
    <a href="https://www.amazon.com/Crow-Navigating-Justice-Book-ebook/dp/B09RJPSP2M" target="_blank">
      <img src="images/the-crow-banner.jpg" style="width: 100%;" />
    </a>
  </div>

  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Welcome!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        My new novel, <i>Navigating Justice: The Crow</i> is available for purchase on <a href="https://www.amazon.com/Crow-Navigating-Justice-Book-ebook/dp/B09RJPSP2M" target="_blank">Amazon</a>.<br/>
        <br />

        I am beyond excited to have you here!
        <br/>
        Things to explore:<br/>
        <a href="novels.html">Current and Future Novels</a><br />
        <a href="about.html">More about me</a><br />
        <a href="contact.html">Social media presence</a><br />
        <a href="contact.html">How to send me a personal message!</a><br />
        <br/>
        Please sign up for free and exclusive content only available to email subscribers!<br />
        <br />
      </p>
    </div>
    <%- include('./partials/footer.html') %>
  </div>
</body>

</html>
