<html>

<head>
  <%- include('./partials/head.html') %>
</head>

<body>
  <%- include('partials/navbar.html', {page: 'novels'}) %>
  <div class="content">
    <p>
    <h2>Navigating Justice: The Crow (2022)</h2>
    <a href="images/the-crow.jpg" target="_blank">
      <img src="images/the-crow.jpg" style="max-width:5em; float: left; padding-right: 10px;" />
    </a>
    <p>My debut novel, <b>Navigating Justice: The Crow</b>, is currently in the editing phase!

      This is the first entry in the <i>Navigating Justice</i> murder mystery series, and is expected to be released in
      early 2022.
    <div clearfix></div>
    </p>
    </p>
  </div>
  <%- include('./partials/footer.html') %>
</body>

</html>